<nb-card style="width: 80vw; height: 80vh;">
    <nb-card-header>
        <h1>Profile</h1>
    </nb-card-header>
    <nb-card-body>
        <div style="width: 100%; background-color: blue;">
            <div style="width:30%; background-color: aquamarine;">
                Hello World
            </div>
            <div style="width:70%; background-color: beige;">

            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="danger" (click)="onClose()" style="float: right;">Cancel</button>
    </nb-card-footer>
</nb-card>