<nb-card>
  <nb-card-body>
    <nb-tabset>
      <nb-tab tabTitle="Your course">
        <div *ngIf="!courses">Loading</div>
        <div class="grid" *ngIf="courses">
          <div *ngFor="let course of courses " class="w3-card-2 w3-hover-shadow"
            style="margin:5px; width:200px; min-height: 300px;">
            <img [src]="course.photo_url" [alt]="course.name" style="width:100%; max-height: 200px;">
            <div class="w3-container w3-center">
              <h3 style="font-size: 1.2rem;">{{course.name}}</h3>
              <p *ngIf="course.fee !=0">Fee: {{course.fee}}</p>
              <p *ngIf="course.fee ==0">Free</p>
            </div>
          </div>
          <div style="margin:5px; width:200px; min-height: 300px;">
            <button nbButton status="primary" style="width: 100%;height:100%;" (click)="openCreateDialog()">
              <nb-icon icon="plus-circle-outline"></nb-icon>New course
            </button>
          </div>

        </div>
      </nb-tab>
      <nb-tab tabTitle="Course Editor">
        <h1>Course:</h1>
        <nb-card>
          <nb-card-header>
            General Information
          </nb-card-header>
          <nb-card-body>
            <label>ID</label>
            <input type="text" nbInput status="basic" fullWidth disabled>
            <label>Name</label>
            <input type="text" nbInput status="basic" fullWidth>
            <label>Author name</label>
            <input type="text" nbInput status="basic" fullWidth>
            <label>Fee</label>
            <input type="number" nbInput status="basic" fullWidth>
            <label>Start date</label>
            <input nbInput [nbDatepicker]="startDatepicker" fullWidth>
            <nb-datepicker #startDatepicker></nb-datepicker>
            <label>Cover photo URL</label>
            <input type="url" nbInput status="basic" fullWidth>
            <label>Allow enroll</label><br>
            <nb-toggle status="basic" fullWidth></nb-toggle><br>
            <label>Is public</label><br>
            <nb-toggle status="basic" fullWidth> </nb-toggle>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>
            Marketing Content
          </nb-card-header>
          <nb-card-body>
            <quill-editor style="min-height: 500px;"></quill-editor>
          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>
            Sections
          </nb-card-header>
          <nb-card-body>

          </nb-card-body>
        </nb-card>
        <nb-card>
          <nb-card-header>
            Danger Zone
          </nb-card-header>
          <nb-card-body>
            <p>
              Change the owner of this course
            </p>
            <button nbButton status="warning">Owner transfer</button>
            <p>
              Delete this course permanently
            </p>
            <button nbButton status="danger">Delete</button>
          </nb-card-body>
        </nb-card>
      </nb-tab>
      <nb-tab tabTitle="Question Bank">

      </nb-tab>
      <nb-tab tabTitle="Examination">

      </nb-tab>
      <nb-tab tabTitle="Enrollments">

      </nb-tab>
      <nb-tab tabTitle="Test Results">

      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
