<nb-card style="width: 50vw; height: 80vh;">
    <nb-card-header>
        <div class="body">
            <div>
                <img [src]="course.photo_url" style="width: 150px;" [alt]="course.name" />
            </div>
            <div>
                <h1>{{course.name}}</h1>
                <h5>{{course.author_name}}</h5>
                <h5>Fee: {{course.fee}} credits</h5>
                <button nbButton status="success" style="float: bottom;">Enroll</button>
            </div>

        </div>
    </nb-card-header>
    <nb-card-body>
        <div [innerHTML]="maketingContent"></div>


    </nb-card-body>
    <nb-card-footer>
        <button nbButton status="danger" (click)="close()" style="float:right;">Close</button>
    </nb-card-footer>
</nb-card>