<!-- <div class="body">
    <div class="card-row" *ngFor="let course of courses; index as i">
        <nb-card class="card-col" size="small" style="border-radius: 10px;" accent="info">


            <nb-card-body style="display:grid;align-self: center; align-items: center; justify-items: center;">
                <img src="http://fulllook.com.vn/Default/skin/nobel/Themes/Story/media/toan.png" alt="Math"
                    style="width: 70%; height: 70%; border-radius: 50%;" />
                <div style="text-align: center;">
                    <p style="font-size: x-large; font-weight: 700; color: #5f6368;">{{course.name}}
                    </p>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div> -->


<div class="grid thumnail" *ngIf="courses.length!==0">
    <div *ngFor="let course of courses " class="w3-card-2 w3-hover-shadow image"
        style="margin:5px; width:200px; min-height: 300px; ">
        <img *ngIf="course.photo_url != ''" [src]="course.photo_url" [alt]="course.name"
            style="width:100%; max-height: 200px;">
        <div *ngIf="course.photo_url ==''"
            style="width:100%; height: 200px;align-items: center;justify-items: center;display: flex;justify-content: center;">
            <h2>{{course.name}}</h2>
        </div>
        <div class="w3-container w3-center">
            <h3 style="font-size: 1.2rem;">{{course.name}}</h3>
            <p *ngIf="course.fee !=0"><strong>Fee:</strong> {{miscService.convert2VND(course.fee)}}</p>
            <p *ngIf="course.fee ==0"><strong>Free</strong> </p>
            <button nbButton size="medium" status="success" style="right: 0; bottom: 0;"
                (click)="onShowCourseDetail(course)">
                Details
            </button>
        </div>
    </div>
</div>

<div class="grid" *ngIf="courses.length==0">
    <nb-card [nbSpinner]="true" nbSpinnerStatus="success">
        <nb-card-body class="control-status">

        </nb-card-body>
    </nb-card>

</div>