<nb-layout>
    <nb-layout-column></nb-layout-column>
    <nb-layout-column center style="width: 10%;align-self: center;">
        <nb-reveal-card [revealed]="flipped" [showToggleButton]="false">
            <nb-card-front>
                <nb-card size="small">
                    <nb-card-header style="text-align: center;">
                        <h2>Sign In</h2>
                    </nb-card-header>
                    <nb-card-body style="align-items: stretch;">
                        <input #usernameInput nbInput placeholder="Username" fullWidth shape="round"
                            style="margin-bottom:10px;" [(ngModel)]="this.username" />
                        <input #passwordInput nbInput type="password" placeholder="Password" fullWidth shape="round"
                            style="margin-bottom:10px;" [(ngModel)]="this.password" />

                        <button nbButton status="primary" fullWidth (click)='login()'
                            style="margin-bottom:3%;margin-top: 3%;">SignIn</button>
                        <button nbButton status="primary" fullWidth (click)='toggleView()'>Signup</button>
                    </nb-card-body>
                </nb-card>
            </nb-card-front>


            <nb-card-back>
                <nb-card size="small">
                    <nb-card-header style="text-align: center;" (click)='this.signup()'>
                        <h2>Sign Up</h2>
                    </nb-card-header>
                    <nb-card-body>
                        <input #usernameSignupInput nbInput placeholder="Username" fullWidth shape="round"
                            style="margin-bottom:10px;" [(ngModel)]="this.username" />
                        <input #passwordSignupInput nbInput type="password" placeholder="Password" fullWidth
                            shape="round" style="margin-bottom:3%;" [(ngModel)]="this.password" />


                        <button nbButton status="primary" fullWidth (click)='signup()'>Sign
                            Up</button>
                        <!-- <button nbButton status="primary" fullWidth (click)='toggleView()'>Sign In</button> -->
                    </nb-card-body>
                </nb-card>
            </nb-card-back>
        </nb-reveal-card>

    </nb-layout-column>
    <nb-layout-column></nb-layout-column>

</nb-layout>